* {
  padding: 0;
  margin: 0;
  font-family: "TASA Explorer", sans-serif;
}

/*
 Ukuran 
 flat = pasti
 min height : nilai minimal
 max height : nilai maximal
*/
.container {
  /* px, %, vw/dvw */
  min-width: 80dvw;
  min-height: 30dvh;
  border: 0.4px #45454570 solid;
  background-color: #f9f9f9;
  padding: 30px;
}

.navbar{
    width: 100dvw;
    text-align: center;
    padding: 30px;
}

li{
    display: inline;
    margin: 5px;
    padding: 10px;
}

li:hover{
    border-bottom: 3px #0088cc solid;
}

a{
    text-decoration: none;
    color: #343434;
    font-weight: 600;
}

.area-display {
  width: 90%;
  height: 100%;
  border: 0.4px #45454570 solid;
  background-color: #f9f9f9;
  padding: 30px;
  margin: 20px 0;
}

.title {
  font-family: "Pinyon Script", cursive, sans-serif;
  font-size: 3em;
}

.card {
  width: 300px;
  min-height: 20px;
  border: 0.4px #45454570 solid;
  padding: 20px;
  margin: 30px;
}

/* 
display block
- Menguasai 1 Baris Parent
- Jika ada elemen baru, maka akan membuat baris baru
*/

.card-block {
  display: block;
  min-height: 20px;
  border: 0.4px #45454570 solid;
  padding: 20px;
  margin: 30px;
}

/* 
Display inline : 
- Membuat elemen di baris yang sama
- Margin yang berlaku hanya margin Y
- padding semua berlaku
- Ukuran tidak bisa diubah
*/
.text-inline{
    margin-bottom: 40px;
}
.card-inline {
  display: inline;
  border: 0.4px #45454570 solid;
  padding: 20px;
  margin: 10px;
}
/*
Display inline-block : 
- Membuat elemen di baris yang sama
- padding dan semua berlaku
- Ukuran bisa diubah
*/
.card-inline-block {
  display: inline-block;
  width: 25%;
  border: 0.4px #45454570 solid;
  padding: 20px;
  margin: 10px;
}

