* {
  padding: 0;
  margin: 0;
}

/* Ukuran */
.container {
  /* px, %, vw/dvw */
  width: 80dvw;
  height: 60dvh;
  border: 0.4px #45454570 solid;
  background-color: #f9f9f9;
}

.font-tiktok {
  font-family: "TikTok Sans", sans-serif;
}
