* {
  padding: 0;
  margin: 0;
  font-family: "TASA Explorer", sans-serif;
}

/* Ukuran */
.container {
  /* px, %, vw/dvw */
  width: 80dvw;
  height: 60dvh;
  border: 0.4px #45454570 solid;
  background-color: #f9f9f9;
  padding: 30px;
}

.title{
    font-family: "Pinyon Script", cursive, sans-serif;
    font-size: 3em;
}


